<section class="card">
  <a href="/post/{{id}}">
    <header>Comments</header>

    <div class="card-body">
      <p>{{user_name}}</p>
      <p>{{comment}}</p>
      <p>{{comment_date}}</p>
    </div>
  </a>
</section>