<section class="container">
  <div class="gallery-name">
  <h3>{{post.username}}</h3>
  <p>{{post.post_body}}</p>
  </div>
  <h4>Please Log In to view comments!</h4>
  <!-- If the user is logged in, render the gallery content -->
  {{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  </section>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}