<section class="container">
  <h3 class="gallery-name">{{post.username}}</h3>
  <h4>Please Log In to view posts!</h4>
  <!-- If the user is logged in, render the gallery content -->
  {{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each post.comment as |comment|}}
    {{> comment-details}}
    {{/each}}
  </section>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}